.entry_header{
    background: url(https://images.pexels.com/photos/1114896/pexels-photo-1114896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center center no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh
  }
.entry_segment{
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    width:90vw;
    max-width: 700px;
  }
.entry_btn{
    background-color: rgb(214,73,55);
    color: white;
    font-weight: bold
  }